<mat-list-item>
    <mat-icon
        [class.tsw-loading]="!world"
        [class.deleted]="missing"
        [matTooltipDisabled]="!!world"
        [matTooltip]="'terraria.world.list-item.status.loading' | translate"
        class="unclickable-icon"
        mat-list-icon
    >
        public
    </mat-icon>

    <div *ngIf="world" [class.deleted]="!world || missing" mat-line>
        {{ world?.displayName }}
        <ng-container *ngIf="missing">{{ 'list-item.missing' | translate }}</ng-container>
    </div>
    <div *ngIf="world?.lastModified" class="world-last-modified" mat-line>
        <span
            [matTooltip]="
                'terraria.world.list-item.last-modified-tooltip'
                    | translate: { lastModified: lastModifiedDetailedString }
            "
        >
            {{ lastModifiedString }}
        </span>
    </div>

    <span [matTooltip]="'general.not-implemented' | translate" class="unimplemented-action-buttons">
        <button [disabled]="true" [matTooltip]="'terraria.world.list-item.buttons.delete' | translate" mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </span>
    <ng-container *ngIf="world">
        <a *ngIf="!missing; else disabledDownloadButton" [href]="'/api/terraria/worlds/' + world.id + '/data'">
            <button
                [disabled]="missing"
                [matTooltip]="'terraria.world.list-item.buttons.download' | translate"
                mat-icon-button
            >
                <mat-icon>download</mat-icon>
            </button>
        </a>
        <ng-template #disabledDownloadButton>
            <button [disabled]="true" mat-icon-button>
                <mat-icon>download</mat-icon>
            </button>
        </ng-template>
    </ng-container>
</mat-list-item>
