<h2>{{ 'authentication.dialog.title' | translate }}</h2>

<mat-dialog-content>
    <form>
        <mat-form-field appearance="standard">
            <mat-label>{{ 'authentication.dialog.username.label' | translate }}</mat-label>
            <input
                matInput
                [formControl]="usernameFormControl"
                [placeholder]="'authentication.dialog.username.placeholder' | translate"
            />
            <mat-error *ngIf="usernameFormControl.hasError('required')">{{
                'input.errors.required' | translate
                }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>{{ 'authentication.dialog.password.label' | translate }}</mat-label>
            <input
                matInput
                [formControl]="passwordFormControl"
                type="password"
                [placeholder]="'authentication.dialog.password.placeholder' | translate"
            />
            <mat-error *ngIf="passwordFormControl.hasError('required')">{{
                'input.errors.required' | translate
                }}
            </mat-error>
        </mat-form-field>
    </form>
    <p [class]="errorMessageKey ? 'tsw-error-message' : 'tsw-invisible'">
        {{ errorMessageKey ? (errorMessageKey | translate) : 'Nothing' }}
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]>{{ 'dialog.buttons.cancel' | translate }}</button>
    <button mat-stroked-button (click)="signUp()" color="accent" [disabled]="busy || !valid">
        {{ 'authentication.dialog.buttons.sign-up' | translate }}
    </button>
    <button mat-raised-button (click)="logIn()" color="primary" [disabled]="busy || !valid">
        {{ 'authentication.dialog.buttons.log-in' | translate }}
    </button>
    <mat-progress-bar
        mode="indeterminate"
        [class]="busy ? '' : 'tsw-invisible'"
        [color]="signingUp ? 'accent' : 'primary'"
    ></mat-progress-bar>
</mat-dialog-actions>
