<mat-list-item>
    <mat-icon
        [class.loading]="!instance"
        [matTooltipDisabled]="!!instance"
        [matTooltip]="'terraria.instance.list-item.status.loading' | translate"
        class="unclickable-icon"
        mat-list-icon
    >
        fit_screen
    </mat-icon>

    <div *ngIf="renaming" mat-line>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input
                #nameInputElement
                (keydown.enter)="onRenameConfirmed($event)"
                (keydown.escape)="onRenameCancelled()"
                [formControl]="nameInput"
                [placeholder]="instance?.name || ''"
                matInput
                type="text"
            />
            <mat-error *ngIf="nameInput.hasError('permission')">
                {{ 'no-permission.ableToManageTerraria' | translate }}
            </mat-error>
            <mat-error *ngIf="nameInput.hasError('deleted')">
                {{ 'terraria.instance.list-item.errors.deleted' | translate }}
            </mat-error>
            <mat-hint>{{ 'terraria.instance.list-item.rename.hint' | translate }}</mat-hint>
        </mat-form-field>
    </div>

    <a
        *ngIf="!renaming"
        [class.disabled]="!instance || !host || deleted"
        [routerLink]="instance && host && !deleted ? ['/', 'hosts', host.id, 'instances', instance.id] : undefined"
        class="tsw-name"
        mat-line
    >
        <span *ngIf="instance; else loadingName">
            {{ instance?.name || ('list-item.no-name' | translate) }}
            <ng-container *ngIf="deleted">{{ 'list-item.deleted' | translate }}</ng-container>
        </span>
        <ng-template #loadingName>{{ 'list-item.name-loading' | translate }}</ng-template>
    </a>

    <div mat-line>
        <span *ngIf="!renaming">
            {{ 'terraria.instance.list-item.description.mod-loader-label' | translate }}
            <a
                [href]="instance?.modLoaderReleaseUrl || 'https://github.com/tModLoader/tModLoader/releases'"
                class="tsw-version-label"
                target="_blank"
            >
                {{ instance?.modLoaderVersion != undefined ? instance?.modLoaderVersion : '?' }}
            </a>
            <a *ngIf="instance?.modLoaderArchiveUrl" [href]="instance?.modLoaderArchiveUrl">
                ({{ 'terraria.instance.list-item.description.buttons.download' | translate }})
            </a>
        </span>
    </div>
    <div mat-line>
        <span *ngIf="!renaming">
            {{ 'terraria.instance.list-item.description.server-label' | translate }}
            <a class="tsw-version-label" href="https://terraria.gamepedia.com/Server#Downloads" target="_blank">
                {{ instance?.terrariaVersion != undefined ? instance?.terrariaVersion : '?' }}
            </a>
            <a *ngIf="instance?.terrariaServerUrl" [href]="instance?.terrariaServerUrl">
                ({{ 'terraria.instance.list-item.description.buttons.download' | translate }})
            </a>
        </span>
    </div>

    <span [matTooltipDisabled]="canManageTerraria" [matTooltip]="'no-permission.ableToManageTerraria' | translate">
        <button
            mat-icon-button
            (click)="onDeleteClicked()"
            [disabled]="!instance || !canManageTerraria || loading || !canDelete"
            [matTooltip]="'terraria.instance.list-item.buttons.delete' | translate"
            color="warn"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </span>

    <mat-progress-spinner
        *ngIf="renaming && loading; else renameButton"
        [diameter]="40"
        color="primary"
        mode="indeterminate"
    ></mat-progress-spinner>
    <ng-template #renameButton>
        <span [matTooltipDisabled]="canManageTerraria" [matTooltip]="'no-permission.ableToManageTerraria' | translate">
            <button
                (click)="renaming ? onRenameConfirmed($event) : onRenameClicked()"
                [disabled]="!instance || !canManageTerraria || loading || (renaming && this.nameInput.invalid)"
                [matTooltip]="'terraria.instance.list-item.buttons.' + (renaming ? 'confirm' : 'rename') | translate"
                color="primary"
                mat-icon-button
            >
                <mat-icon>{{ renaming ? 'check' : 'edit' }}</mat-icon>
            </button>
        </span>
    </ng-template>
</mat-list-item>
