<h2 class="mat-dialog-title">{{ 'terraria.instance.dialog.set-instance-mods.title' | translate }}</h2>

<mat-dialog-content>
    <mat-selection-list color="primary">
        <mat-list-option *ngFor="let mod of modOptions" [selected]="mod.selected" [value]="mod.name">
            {{ mod.name }}
        </mat-list-option>
    </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button [mat-dialog-close] mat-button>{{ 'dialog.buttons.cancel' | translate }}</button>
    <button (click)="onSetClicked()" [disabled]="setting || loading" color="primary" mat-raised-button>
        {{ 'terraria.instance.dialog.set-instance-mods.buttons.set' | translate }}
    </button>
    <mat-progress-bar
        [class]="setting || loading ? '' : 'tsw-invisible'"
        color="primary"
        mode="indeterminate"
    ></mat-progress-bar>
</mat-dialog-actions>
