<mat-list-item>
    <mat-icon
        class="unclickable-icon"
        [class.loading]="!host"
        [class.offline]="host?.alive === false"
        [class.online]="host?.alive"
        [matTooltip]="iconTooltip"
        mat-list-icon
    >
        monitor
    </mat-icon>
    <a [class.disabled]="!host" [routerLink]="host ? ['/', 'hosts', host?.id] : undefined" class="host-link" mat-line>
        <span *ngIf="host; else loadingName">{{ host?.name || ('host-info.no-name' | translate) }}</span>
        <ng-template #loadingName>{{ 'host-info.name-loading' | translate }}</ng-template>
    </a>
    <div mat-line>
        {{ 'host-list-item.description' | translate: descriptionData }}
    </div>
</mat-list-item>
