<mat-card class="tsw-terraria-instance-card">
    <mat-card-header>
        <mat-card-title>{{ 'terraria-instance.card.new.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ 'terraria-instance.card.new.description' | translate }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onCreateClicked()" color="primary">
            {{ 'terraria-instance.card.new.buttons.create' | translate }}
        </button>
    </mat-card-actions>
</mat-card>
