<mat-card class="tsw-terraria-instance-card">
    <mat-card-header>
        <mat-card-title>{{ 'terraria-instance.card.new.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ 'terraria-instance.card.new.description' | translate }}</p>
    </mat-card-content>
    <mat-card-actions>
        <span [matTooltip]="createDisabledReason ? (createDisabledReason | translate) : ''">
            <button mat-raised-button (click)="onCreateClicked()" color="primary" [disabled]="!!createDisabledReason">
                {{ 'terraria-instance.card.new.buttons.create' | translate }}
            </button>
        </span>
    </mat-card-actions>
</mat-card>
