.tsw-terraria-instance-card
    min-width: 15em
    max-width: 20em
    display: inline-block
    margin: 5px

    .mat-card-content
        min-height: 8em

    .tsw-terraria-instance-uuid
        color: gray
        font-size: 0.8em

    .tsw-version-link
        display: inline-block
        border: 1px solid
        text-decoration: none
        padding: 0 3px
        border-radius: 0.5em
        font-weight: 500

        &:hover
            color: #226