.header
    height: 60px
    display: flex
    background-color: #1976d2
    color: white
    font-weight: 600
    padding-right: 1em
    a
        color: white
    .logo-link
        padding-left: 1em
        display: flex
        align-items: center
        padding-right: 2em
        height: 100%
        &:hover
            text-decoration: none
            color: cyan

@media (max-height: 500px)
    .header
        height: 35px
        padding: 0
        .logo-link
            padding: 0 0.5em
            img
                display: none
        .header-left, .header-center, .header-right
            white-space: nowrap

.header-left, .header-center, .header-right
    display: flex
    align-items: center
    flex: 1
    height: 100%

.header-right
    flex-direction: row-reverse
