<div class="log-panel solarized" id="instance-log-panel">
    <span *ngFor="let logPart of logParts" [class]="logPart?.className">{{ logPart?.text }}</span>
    <div [class]="['instance-info-bar', badState ? 'red' : 'blue']">
        {{ statusLabel }}
        <mat-progress-bar [class.tsw-invisible]="!hasAction" color="primary" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="instance-panel">
        <div
            [matTooltipDisabled]="canManageTerraria"
            [matTooltip]="'no-permission.ableToManageTerraria' | translate"
            class="action-panel"
        >
            <ng-container *ngFor="let button of BUTTONS">
                <button
                    (click)="button.onClick()"
                    *ngIf="button.isDisplayed()"
                    [color]="button.isWarn ? 'warn' : 'primary'"
                    [disabled]="hasAction || !canManageTerraria"
                    mat-stroked-button
                >
                    {{ 'terraria.instance.actions.buttons.' + button.action | translate }}
                </button>
            </ng-container>
        </div>
    </div>
</div>
