<div class="log-panel solarized" id="instance-log-panel">
    <span *ngFor="let logPart of logParts" [class]="logPart?.className">{{ logPart?.text }}</span>
    <div class="instance-info-bar blue">
        <ng-container *ngIf="instance">
            <ng-container *ngIf="hasAction; else noAction">
                <ng-container *ngIf="instance?.currentAction; else pendingAction">
                    {{ 'terraria.instance.actions.current.' + instance?.currentAction | translate }}
                </ng-container>
                <ng-template #pendingAction>
                    {{ 'terraria.instance.actions.pending.' + instance?.pendingAction | translate }}
                </ng-template>
            </ng-container>
            <ng-template #noAction>
                {{ 'terraria.instance.states.' + instance?.state | translate }}
            </ng-template>
        </ng-container>
        <mat-progress-bar [class.tsw-invisible]="!hasAction" color="primary" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="instance-panel">
        <div
            [matTooltipDisabled]="canManageTerraria"
            [matTooltip]="'no-permission.ableToManageTerraria' | translate"
            class="action-panel"
        >
            <ng-container *ngFor="let button of BUTTONS">
                <button
                    (click)="button.onClick()"
                    *ngIf="button.isDisplayed()"
                    [color]="button.isWarn ? 'warn' : 'primary'"
                    [disabled]="hasAction || !canManageTerraria"
                    mat-stroked-button
                >
                    {{ 'terraria.instance.actions.buttons.' + button.action | translate }}
                </button>
            </ng-container>
        </div>
    </div>
</div>
