@import "../../../variables.sass"
    
.tsw-host-status-running
    color: $good

.tsw-host-status-stopped
    color: $bad

.mat-expansion-panel-header-description
    justify-content: space-between
    align-items: center
