<mat-list class="tsw-host-info">
    <div mat-subheader>Host</div>
    <tsw-host-list-item [host]="host"></tsw-host-list-item>

    <mat-divider></mat-divider>
</mat-list>
<div *ngIf="host; else loading" class="tsw-sublist-container">
    <mat-list>
        <div mat-subheader>Instances</div>
        <tsw-terraria-instance-list-item
            *ngFor="let instance of host?.instances"
            [instance]="instance"
        ></tsw-terraria-instance-list-item>
        <tsw-new-item-button
            (press)="terrariaInstanceCreationRequested()"
            [requiredPermissions]="['ableToManageHosts']"
        ></tsw-new-item-button>
    </mat-list>
    <mat-list>
        <div mat-subheader>Worlds</div>
        <tsw-terraria-world-list-item *ngFor="let world of host?.worlds" [world]="world"></tsw-terraria-world-list-item>
    </mat-list>
</div>
<ng-template #loading>
    <mat-spinner class="tsw-centered"></mat-spinner>
</ng-template>
