<mat-list class="host-list compactable-list">
    <div mat-subheader>{{ 'host-list-page.local-host-title' | translate }}</div>
    <tsw-host-list-item [host]="localHost"></tsw-host-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>{{ 'host-list-page.other-hosts-title' | translate }}</div>

    <mat-spinner
        *ngIf="loading; else otherHostsContainer"
        type="indeterminate"
        class="host-loading-spinner"
    ></mat-spinner>
    <ng-template #otherHostsContainer>
        <tsw-host-list-item *ngFor="let otherHost of otherHosts" [host]="otherHost"></tsw-host-list-item>
        <div *ngIf="!otherHosts?.length" class="no-other-hosts-placeholder">
            {{ 'host-list-page.no-other-hosts-placeholder' | translate }}
        </div>
    </ng-template>
</mat-list>
