<mat-expansion-panel [disabled]="loading">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span *ngIf="loading; else hostTitle">{{ 'loading' | translate }}</span>
            <ng-template #hostTitle>{{ hostName || ('host-info.no-name' | translate) }}</ng-template>
        </mat-panel-title>
        <mat-panel-description *ngIf="loaded">
            {{ hostUuid }}
            <mat-icon
                [class]="'tsw-host-status-' + hostStatus"
                [matTooltip]="'host-info.status.' + hostStatus | translate"
            >
                {{ hostIcon }}
            </mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="tsw-host-info-title">{{ 'host-info.terraria-worlds.title' | translate }}</h3>
    <div *ngIf="host?.worlds">
        <tsw-terraria-world-card *ngFor="let world of host?.worlds" [world]="world"></tsw-terraria-world-card>
    </div>
    <mat-divider></mat-divider>
    <h3 class="tsw-host-info-title">{{ 'host-info.terraria-instances.title' | translate }}</h3>
    <tsw-terraria-instance-card
        *ngFor="let instance of terrariaInstances"
        [instance]="instance"
        [host]="host"
    ></tsw-terraria-instance-card>
    <tsw-terraria-instance-card
        *ngIf="hostIsLocal"
        [host]="host"
        (created)="terrariaInstanceCreated($event)"
    ></tsw-terraria-instance-card>
</mat-expansion-panel>
