<mat-expansion-panel [disabled]="loading">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span *ngIf="loading; else hostTitle">{{ 'loading' | translate }}</span>
            <ng-template #hostTitle>{{ hostName || ('host-info.no-name' | translate) }}</ng-template>
        </mat-panel-title>
        <mat-panel-description *ngIf="loaded">
            {{ hostUuid }}
            <mat-icon
                [class]="'tsw-host-status-' + hostStatus"
                [matTooltip]="'host-info.status.' + hostStatus | translate"
            >
                {{ hostIcon }}
            </mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="tsw-host-info-title">{{ 'host-info.terraria-instances.title' | translate }}</h3>
    <div *ngIf="hostIsLocal">
        <tsw-terraria-instance-card [newInstance]="true"></tsw-terraria-instance-card>
    </div>
</mat-expansion-panel>
